PORT=8080
APP_ENV=development
NODE_ENV=development

DATABASE_URL="postgresql://digiin:digiin_secure_password@localhost:5432/digiin_platform?schema=public"
REDIS_URL="redis://localhost:6379"

SESSION_SECRET="digiin_super_secret_session_key_min_32_chars_long_123"
API_SECRET_ENCRYPTION_KEY="digiin_secret_encryption_key_32_bytes"
TOKEN_ENCRYPTION_KEY="digiin_token_encryption_key_aes_256_gcm"

STORAGE_DRIVER=local
STORAGE_LOCAL_PATH="./storage"

DIGILOCKER_CLIENT_ID="digiin_mock_client"
DIGILOCKER_CLIENT_SECRET="digiin_mock_secret"
DIGILOCKER_REDIRECT_URI="http://localhost:8080/v1/digilocker/callback"

APP_BASE_URL="http://localhost:3000"
API_BASE_URL="http://localhost:8080"
